@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700;800&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

@font-face {
  font-family: 'mouse_memoir';
  src: url('./fonts/mousememoirs-regular-webfont.woff2') format('woff2'),
    url('./fonts/mousememoirs-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .content {
    content: '';
  }
}

@layer base {
  body {
    @apply bg-bg;
  }

  form {
    @apply mb-16;
  }

  label {
    @apply block pb-2 font-slab text-base font-extrabold uppercase leading-6 text-black;
  }

  .field textarea,
  .field input[type='text'],
  .field input[type='email'],
  .field input[type='tel'],
  .field input[type='url'],
  .field input[type='password'] {
    @apply relative mt-[2px] ml-[2px] mr-0 mb-0 w-full border-2 border-black bg-transparent p-4 font-sans font-semibold outline-none focus:border-veridianGreen;
  }

  .input-url {
    @apply relative;
  }

  /* have to use a class for this because you can't have a pseudo element on an input */
  .input-url::after {
    content: 'https://';
    @apply absolute bottom-[18px] left-5 block font-sans text-lg font-bold text-punch;
  }

  .input-url input[type='url'] {
    @apply pl-10;
  }

  .input-wrapper {
    @apply relative;
  }

  .input-wrapper::before {
    @apply content absolute -left-[2px] -top-[2px] h-full w-full bg-white;
  }
}

@layer components {
  .page-title {
    @apply m-0 p-0 pb-6 font-condensed text-[3.25rem] leading-none text-punch;
  }

  .aside-heading {
    @apply font-condensed text-2xl text-onyx;
  }

  #logo #A,
  #logo #A_2,
  #logo #M {
    @apply fill-ulcaGold;
  }

  #logo:hover #A,
  #logo:hover #A_2,
  #logo:hover #M {
    @apply fill-punch;
  }

  #logo #inside {
    @apply fill-greenSheen;
  }

  #logo:hover #inside {
    @apply fill-ulcaGold;
  }

  /* home - feed */
  #nav__home .nav__bg {
    @apply fill-punch;
  }

  #nav__home:hover .nav__bg {
    @apply fill-black;
  }

  #nav__home .nav__color {
    @apply fill-ulcaGold;
  }

  #nav__home:hover .nav__color {
    @apply fill-black;
  }

  #nav__home:hover text {
    @apply fill-white;
  }

  /* notifications */
  #nav__notifications .nav__color {
    @apply fill-pesto;
  }

  #nav__notifications:hover .nav__color {
    @apply fill-black;
  }

  /* bookmarks */
  #nav__bookmarks .nav__color {
    @apply fill-punch;
  }

  #nav__bookmarks:hover .nav__color {
    @apply fill-black;
  }

  /* profile */
  #nav__profile .nav__color {
    @apply fill-fiord;
  }

  #nav__profile:hover .nav__color {
    @apply fill-black;
  }

  .body-copy a {
    @apply font-bold text-punch hover:underline;
  }

  .large-body {
    @apply mt-0 pt-0 text-lg leading-7;
  }

  .action {
    @apply flex items-center gap-1 font-slab text-xl;
  }

  .selected-action {
    @apply text-punch;
  }

  button.small {
    @apply py-1 px-4 text-xs font-extrabold;
  }

  .confirmation.small {
    @apply gap-3 text-xs font-extrabold;
  }

  button.large {
    @apply px-6 py-1 text-base font-bold;
  }

  .confirmation.large {
    @apply gap-8 text-base;
  }

  .text-button {
    @apply text-sm font-bold underline hover:text-punch hover:no-underline;
  }

  .might-like-user__link:hover .name {
    @apply text-punch;
  }
  .might-like-user__link:hover .username {
    @apply underline;
  }

  .inset-border {
    @apply relative;
  }

  .inset-border::after {
    @apply content pointer-events-none absolute left-1 right-1 bottom-1 top-1 block border-2 border-black;
  }

  /* TOOL TIP TAG */
  .tooltip-tag {
    @apply relative z-tooltip;
  }

  .tooltip-tag button {
    @apply relative z-tooltipButton;
  }

  .tooltip-tag::before {
    background: currentColor;
    @apply content absolute z-tooltip block h-4 w-4 rotate-45;
  }

  .tooltip-tag.center::before {
    @apply left-1/2 -translate-x-1/2 rotate-45;
  }

  .tooltip-tag.left::before {
    @apply left-3;
  }

  .tooltip-tag.top::before {
    @apply -top-2;
  }

  .tooltip-tag.bottom::before {
    @apply -bottom-2;
  }

  .tooltip-tag.right::before {
    @apply right-3;
  }

  /* settings subnav */
  .settings-subnav {
    @apply font-slab text-base font-extrabold uppercase;
  }

  .settings-subnav li {
    @apply mb-3;
  }

  .settings-subnav .icon {
    @apply hidden;
  }

  .settings-subnav li a.selected .icon {
    @apply block;
  }

  .settings-subnav a {
    @apply flex min-h-[3rem] items-center justify-between pl-20 pr-2 leading-[3rem] text-black hover:text-punch;
  }

  .settings-subnav li a.selected {
    @apply bg-ulcaGold hover:text-black;
  }

  /* FORM ELEMENTS */
  .field {
    @apply mb-8;
  }

  .button-group {
    @apply flex justify-end gap-6;
  }

  .submit-btn {
    @apply rounded-3xl bg-punch py-2 px-6 font-slab text-base font-bold uppercase text-white hover:bg-veridianGreen;
  }

  .input-username {
    @apply relative;
  }

  /* have to use a class for this because you can't have a pseudo element on an input */
  .input-username::after {
    content: '@';
    @apply absolute bottom-[18px] left-5 block font-sans text-lg font-bold text-punch;
  }

  .input-username input[type='text'] {
    @apply pl-10;
  }

  .settings-page-top {
    @apply pt-24;
  }

  /* avatar background colors */
  .PUNCH {
    @apply bg-punch;
  }

  .ULCAGOLD {
    @apply bg-ulcaGold;
  }

  .BLANC {
    @apply bg-blanc;
  }

  .ONYX {
    @apply bg-onyx;
  }

  .PESTO {
    @apply bg-pesto;
  }

  .FIORD {
    @apply bg-fiord;
  }

  .GREENSHEEN {
    @apply bg-greenSheen;
  }

  .VERIDIANGREEN {
    @apply bg-veridianGreen;
  }

  .HEATWAVE {
    @apply bg-heatWave;
  }

  /* TOGGLE */
  .toggle input[type='checkbox'] {
    @apply hidden;
  }

  .toggle input[type='checkbox'] + label {
    @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-3xl bg-red-600 py-1 pl-4 pr-1 font-sans font-bold text-white transition-all;
  }

  .toggle input[type='checkbox'] + label .yes {
    @apply hidden;
  }

  .toggle input[type='checkbox']:checked + label {
    @apply bg-green-600 pr-4 pl-1;
  }

  .toggle input[type='checkbox']:checked + label .yes {
    @apply block;
  }

  .toggle input[type='checkbox']:checked + label .no {
    @apply hidden;
  }

  /* CUSTOM CHECKBOX */

  /* CUSTOM RADIO BUTTON */
}
